@page
@model FilmDB.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Film) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <a asp-page="./EditFilm" asp-route-id="@item.ID">EditFilm</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./RemoveFilm" asp-route-id="@item.ID">RemoveFilm</a>
            </td>
        </tr>
}
    </tbody>
</table>
