@page
@model FilmDB.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="AddFilm">Dodaj nowy film</a>
</p>
<table class="table table-primary table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Film[0].Year)
            </th>
            <th>
                Gatunek
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Film) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @if (item.Genre != null){@Html.Raw(item.Genre.Name) }
             </td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a 
                        asp-page="./EditFilm" 
                        asp-route-id="@item.ID" 
                        class="btn btn-warning"
                    >
                        EditFilm
                    </a>
                    <a 
                        asp-page="./Details" 
                        asp-route-id="@item.ID"
                        class="btn btn-info"
                    >
                        Details
                    </a>
                    <a 
                        asp-page="./RemoveFilm" 
                        asp-route-id="@item.ID"
                        class="btn btn-danger"
                    >
                        RemoveFilm
                    </a>
                </div>             
            </td>
        </tr>
}
    </tbody>
</table>
